[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-cors-headers = "*"
pyjwt = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
django-debug-toolbar = "*"
django-filter = "*"
pillow = "*"
django-templated-mail = "*"
flower = "*"
django-redis = "*"
whitenoise = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
django-environ = "*"
eventlet = "*"
googlemaps = "*"
phonenumbers = "*"
django-phonenumber-field = "*"
paypalrestsdk = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
pytest-django = "*"
model-bakery = "*"
django-silk = "*"

[requires]
python_version = "3.11"
