<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> History</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/x-icon" href="img/Welwyn+Airport+Taxis+Logo+-+Black+with+White+Background+-+5000x5000.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar1">
        <div class="left">
            <a href="index.html" class="Airt">Airport Taxis</a>
            <a href="index.html">Home</a>
            <a href="Travl.html">Travel</a>
            <a href="History.html">History</a>
        </div>
        <div class="right">
            <a href="Login.html"><span class="glyphicon glyphicon-log-in"></span>Login</a>
            <a href="Register.html"><span class="glyphicon glyphicon-user"></span>Signup</a>
        </div>
    </nav>
    <main class="main-container">
        <div class="map"></div>
        <p class="comment">very bad</p>
        <i></i><p class="price">10 £</p>
        <p class="time">Trip, Tuesday afternoon, November 23</p>
        <p class="hr"></p>
        <i></i><p class="text-1">vanak, haghany, brazil-sharqy, sherkat: it tim iran</p>
        <i></i><p class="text-2">saadatabad, fereshteh, darband, andarzgo, cafe-milad</p>
    </main>
    <footer class="footer  fixed-bottom" style="position: relative; bottom: -555px;">
        <div class="container text-center text-light">
          <span>&copy; 2024 Welwyn Airport Taxis. All rights reserved.</span> 
        </div>
      </footer>
</body>
</html>