<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="icon" type="image/x-icon" href="img/Welwyn+Airport+Taxis+Logo+-+Black+with+White+Background+-+5000x5000.ico">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Airport Taxis</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="Travl.html">Travel</a></li>
      <li><a href="History.html">History</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="Register.html"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
      <li><a href="Login.html"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>making us the preferred choice for both short and</h3>
  <br>
  <p>extended trips.

    With Welwyn Airport Taxis, you can trust that
    <br>
    you'll receive top-notch service from start to finish.
    <br>
    Our drivers are professional, courteous, and
    <br>
    knowledgeable about the best routes to ensure a
    <br>
    smooth and enjoyable journey. Book your ride with
    <br>
    us today and experience the convenience of
    <br>
    traveling with Welwyn Airport Taxis.</p>
    <img src="img/photo_2024-03-07_14-09-14.jpg" alt="" class="img-car">
  <p>If you prefer to speak with one of our
    <br>
    representatives directly, feel free to give us a call or
    <br>
    send us an email. We are available 24/7 to assist
    <br>
    you with your booking and answer any questions
    <br>
    you may have. Trust Welwyn Airport Taxis for all
    <br>
    your transportation needs.</p>
</div>
<footer class="footer  fixed-bottom">
  <div class="container text-center text-light">
    <span>&copy; 2024 Welwyn Airport Taxis. All rights reserved.</span> 
  </div>
</footer>
</body>
</html>
